
        body {
            font-family: 'Poppins', sans-serif;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background: linear-gradient(to bottom, #bfe1f6, #ffffff); /* Light yellow to light brown gradient */
        }

        .online {
            color: #51c7ee;
            /* Light blue */
        }

        .text-online {
            color: #0505ac;
            /* Light blue for "Online" text */
        }

        .class {
            color: #00eeff;
            /* Light blue */
        }

        .text-class {
            color: #08dce3;
            /* Light blue for "Online" text */
        }
                @keyframes zoom {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.1);
            }
            100% {
                transform: scale(1);
            }
        }

        .clicked {
            animation: zoom 1s ease-in-out;
        }
